<!doctype html>
<html lang="{{ $.Site.Language.Lang }}">
    <head>
        <meta charset="utf-8">
        <meta name="description" content="Hi. I'm Henry Desroches, a creative developer from Denver - obsessed with meaningful interaction development, pixel-perfect design, & good pizza. I'm for hire.">
        <meta name="author" content="Henry Desroches">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="twitter:card" content="summary">
        <meta name="twitter:site" content="xdesro">
        <meta name="twitter:title" content="henry.codes // creative front-end.">
        <meta name="twitter:description" content="Hi. I'm Henry Desroches, a creative front-end developer from Denver, Colorado. I'm obsessed with meaningful interaction development, pixel-perfect design, and good pizza. I'm for hire.">
        <meta name="twitter:image" content="https://henry.codes/img/profile-picture.jpg">
        <meta name="twitter:image:alt" content="Henry Desroches, Denver-based creative front-end developer">
        <meta property="og:type" content="website">
        <meta property="og:title" content="henry.codes // creative front-end.">
        <meta property="og:description" content="Hi. I'm Henry Desroches, a creative front-end developer from Denver, Colorado. I'm obsessed with meaningful interaction development, pixel-perfect design, and good pizza. I'm for hire.">
        <meta property="og:url" content="https://henry.codes">
        <meta property="og:image" content="https://henry.codes/img/profile-picture.jpg">
        <link rel="publisher" href="https://plus.google.com/u/2/110079584073190888812">
        <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
        <link rel="manifest" href="/manifest.json">
        <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#222222">
        <meta name="apple-mobile-web-app-title" content="henry.codes">
        <meta name="application-name" content="henry.codes">
        <meta name="theme-color" content="#222222" />
        <!-- Global Site Tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-92721708-1"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments)};
            gtag('js', new Date());
            gtag('config', 'UA-92721708-1');
        </script>
        <base href="{{ $.Site.BaseURL }}">
        <title>{{ $.Site.Title }} | {{ humanize .Page.Title }} </title>
        <link rel="stylesheet" href="css/main.css"/>
    </head>
    <body id="barba-wrapper">
        <main class="barba-container
            {{ if or (and .IsPage (eq .Type "projects")) (and .IsPage (eq .Page.Title "Resume"))}}light{{ end }}
            {{ if .IsHome }}home{{ end }}
            {{ if and .IsNode (eq .Type "projects" ) }}projects-list{{ end }}
            {{ if and .IsNode (eq .Type "experiments" ) }}experiments-list{{ end }}
            ">
            <div id="wipe"></div>
