<!doctype html>
<html lang="{{ $.Site.Language.Lang }}">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="theme-color" content="#222222" />
        <base href="{{ $.Site.BaseURL }}">
        <title>{{ $.Site.Title }}</title>
        <link rel="stylesheet" href="css/main.css"/>
    </head>
    <body id="barba-wrapper">
        <main class="barba-container 
            {{ if and .IsPage (eq .Type "projects") }}light{{ end }}
            {{ if .IsHome }}home{{ end }}
            {{ if and .IsNode (eq .Type "projects" ) }}projects-list{{ end }}
            {{ if and .IsNode (eq .Type "experiments" ) }}experiments-list{{ end }}
        " >
            <div id="wipe"></div>
