<!doctype html>
<html lang="{{ $.Site.Language.Lang }}">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
        <link rel="manifest" href="/manifest.json">
        <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#222222">
        <meta name="apple-mobile-web-app-title" content="henry.codes">
        <meta name="application-name" content="henry.codes">
        <meta name="theme-color" content="#222222" />
        <base href="{{ $.Site.BaseURL }}">
        <title>{{ $.Site.Title }} | {{ humanize .Page.Title }} </title>
        <link rel="stylesheet" href="css/main.css"/>
    </head>
    <body id="barba-wrapper">
        <main class="barba-container 
            {{ if and .IsPage (eq .Type "projects") }}light{{ end }}
            {{ if .IsHome }}home{{ end }}
            {{ if and .IsNode (eq .Type "projects" ) }}projects-list{{ end }}
            {{ if and .IsNode (eq .Type "experiments" ) }}experiments-list{{ end }}
        " >
            <div id="wipe"></div>
