.projects-list {
  .hero {
    min-height: auto;

    @include tablet {
      min-height: 100vh;
    }
  }
}
.single-item-tooling {
  margin: 0;
  li {
    display: inline-block;
    padding-right: 1rem;
    list-style: none;
  }
  [class^="icon-"], [class*=" icon-"] {
    &:before {
      font-size: 30px;
      main.light & {
        color: $gray300;
      }
    }
  }
}
.project-list-title {
  margin-bottom: 0;
}
.project-date {
  display: inline-block;
}
.single-item-description {
  align-self: center;
  h2 {
    position: relative;
    margin-top: 0;

    @include tablet {
      margin-top: 2rem;
    }
    &:after {
      position: absolute;
      right: 0;
      bottom: 0;
      left: 0;
      // width:100%;
      width: 0;
      height: 2px;
      content: "";
      transition: all 0.1s ease;
      background: red;
      box-shadow: 0 0 0 0 #A9A9A9;
    }
  }
  &:hover {
    h2 {
      &:after {
        width: 100%;
      }
    }
  }
  &#initiative {
    h2 {
      &:after {
        background: linear-gradient(to right, #46C9B6 0%, #1F4056 100%);
      }
    }
  }
  &#litsmart {
    h2 {
      &:after {
        background: linear-gradient(to left, rgba(153,0,12,1) 0%,rgba(181,72,70,1) 100%);
      }
    }
  }
  &#continuum {
    h2 {
      &:after {
        background: linear-gradient(to left, rgba(42,178,98,1) 1%,rgba(76,233,163,1) 100%);
      }
    }
  }
}
.single-project {
  position: relative;
}
.single-item-wrapper {
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  ~.column > .image {
    transition: all .1s ease-in-out;
  }
  &:hover {
    ~ .single-item-description h2:after {
      width: 100%;
    }
    ~.column > .image {
      transform: matrix3d(0.94,0,0.34,0.0002,0.00,1,0.00,0,-0.34,0,0.94,0,0,0,10,1);
    }
  }
}
.is-shadowed {
  box-shadow: 0 10px 20px 0 rgba(85,85,85,0.20);
}
.background-title {
  position: fixed;
  z-index: -1;
  width: 100vw;
  height: 100vh;
}
#background-work {
  position: fixed;
  right: 1.1rem;
  bottom: 1.1rem;
  width: 75vw;
}

@keyframes float {
  50% {
    transform: translateY(-20px);
    box-shadow: 0 30px 40px 0 rgba(85,85,85,0.1);
  }
  0%, 100% {
    transform: translateY(0px);
    box-shadow: 0 10px 20px 0 rgba(85,85,85,0.2);
  }
}
.floating-image-wrapper {
  position: relative;
  min-height: 50vh;
  padding-top: 10vh;
}
.featured-image {
  @extend .is-shadowed;
  .floating-angle & {
    @include sm {
      position: absolute;
      z-index: 1;
      left: 0;
      width: 60%;
      animation: float 4s ease-in-out infinite;

      &:nth-of-type(2) {
        z-index: 0;
        top: 30%;
        right: 0;
        left: 40%;
        animation-delay: 1s;

        filter: blur(1px) brightness(99%);;
      }
      &:nth-of-type(3) {
        z-index: -2;
        top: 50%;
        animation-delay: 1.5s;

        filter: blur(2px) brightness(97%);
      }
    }
  }
  .floating-pyramid & {
    position: absolute;
    width: 60%;

    @include sm {
      width: 30%;
      animation: float 4s ease-in-out infinite;
      &:nth-of-type(1) {
        z-index: 3;
        top: 0;
        right: 0;
        left: 0;
        margin: 0 auto;
      }
      &:nth-of-type(2) {
        top: 10%;
        left: 15%;
        animation-delay: 1s;
      }
      &:nth-of-type(3) {
        top: 10%;
        right: 15%;
        animation-delay: 1.5s;

        filter: blur(1px) brightness(99%);
      }
    }
    &:nth-of-type(1) {
      z-index: 3;
      top: 0;
      right: 0;
      left: 0;
      margin: 0 auto;
    }
    &:nth-of-type(2) {
      z-index: 2;
      top: 10%;
      left: 0;

      filter: blur(1px) brightness(99%);
    }
    &:nth-of-type(3) {
      top: 15%;
      right: 0;

      filter: blur(2px) brightness(97%);
    }
  }
}
