{{ partial "header" . }}
<section class="hero is-danger">
  <div class="hero-head">
    <div class="container">
      <a href="/" class="go-back is-block">← go home</a>
    </div>
  </div>
  <div class="hero-body">
    <div class="container">
      <h1 class="title is-inline-tablet">Resume</h1>
      <a href="/Henry-Desroches_Resume.pdf" class="no-barba">Download</a>
      <a href="mailto:yo@henry.codes">Contact</a>
    </div>
  </div>
</section>
<section class="hero">
  <div class="hero-body">
    <div class="container-fluid">
      <div class="columns">
        <div class="column is-6 is-offset-2">
          <h1 class="resume-title">Henry Desroches</h1>
          <h3 class="resume-subtitle">Denver-based creative developer</h3>
        </div>
        <div class="column is-2">
          <div class="resume-details">
            <p class="has-text-right-tablet">yo@henry.codes</p>
            <p class="has-text-right-tablet">720-398-7470</p>
            <p class="has-text-right-tablet">1030 Park Avenue West</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section">
  <div class="container-fluid">
    <div class="columns">
      <div class="column is-2">
        <p class="resume-section-title has-text-right-tablet">skills</p>
      </div>
      <div class="column is-8">
        <p class="role-description">
          <strong>code</strong>: html5 - css3 - javascript - sass - jQuery - react - webGL - less - three.js - HTML/CSS preprocessors
          - gulp - webpack - ES6 - angular - git //
          <strong>design</strong>: adobe creative suite (photoshop, illustrator, premiere, lightroom, xd, indesign, after effects)
          - sketch - invision/craft //
          <strong>miscellaneous</strong>: - evasive drone piloting - discerning opinions about breakfast food - greyhound whispering
          </p>
      </div>
    </div>
  </div>
  </div>
</section>
<section class="section">
  <div class="container-fluid">
    <div class="columns">
      <div class="column is-2">
        <p class="resume-section-title has-text-right-tablet">exp.</p>
      </div>
      <div class="column is-8">
        <div class="role">
          <img class="role-logo" src="./img/logos/um.png" alt="">
          <h2 class="role-title">FrontEnd Developer</h2>
          <p class="role-dates">january 2017 -</p>
          <p class="role-description">front-end development at Alloy has largely consisted of developing the front-end for very largescale Drupal websites for
            nonprofits, industrial eCommerce companies, and digital marketing for law firms. While most of the work is in Drupal/PHP,
            I take every opportunity I can to build sites with more modern, Javascript-centric and static stacks!</p>
        </div>
      </div>
    </div>
  </div>
  </div>
</section>
<section class="section">
  <div class="container-fluid">
    <div class="columns">
      <div class="column is-8 is-offset-2">
        <div class="role">
          <img class="role-logo" src="./img/logos/um.png" alt="">
          <h2 class="role-title">Interaction Developer</h2>
          <p class="role-dates">december 2015 - december 2016</p>
          <p class="role-description">as an Interaction Developer at Universal Mind, my main responsibility was maintaining and iterating the Universal
            Mind flagship site, which is a large-scale static site generation project. Prior to working at UM, the site was
            a legacy Wordpress project and had only been updated when other technologist resources within the company were
            available.</p>
        </div>
      </div>
    </div>
  </div>
  </div>
</section>
<section class="section">
  <div class="container-fluid">
    <div class="columns">
      <div class="column is-8 is-offset-2">
        <div class="role">
          <img class="role-logo logo-background" src="./img/logos/gdw.png" alt="">
          <h2 class="role-title">User Interface Developer</h2>
          <p class="role-dates">spring 2015 - january 2015</p>
          <p class="role-description">this was mostly designing user interface and UX improvements to web-based projects such as an existing proprietary
            CMS; developing HTML prototypes and UI deliverables such as wireframes and site mockups; converting .PSD mockups
            of new client websites to functional code; making design modifications and fixing style bugs on earlier client
            sites.</p>
        </div>
      </div>
    </div>
  </div>
  </div>
</section>
<section class="section">
  <div class="container-fluid">
    <div class="columns">
      <div class="column is-8 is-offset-2">
        <div class="role">
          <img class="role-logo logo-background" src="./img/logos/fbox.svg" alt="">
          <h2 class="role-title">Jr. Project Manager</h2>
          <p class="role-dates">december 2014 - spring 2015</p>
          <p class="role-description">as a junior-level project manager intern, I managed web development projects, using largely agile methodologies. This
            meant keeping in close contact with a variety of clients, organizing meetings between clients and the Fusionbox
            team, and making sure clients’ needs were being met on schedule.</p>
        </div>
      </div>
    </div>
  </div>
  </div>
</section>
{{ partial "footer" . }}
