{{ partial "header" . }}
<section class="hero is-fullheight">
    <div class="hero-head">
        {{ partial "nav" . }}
    </div>
    <div class="hero-body">
        <div class="container">
            <div class="columns">
                <div class="column is-half">
                    <figure class="image is-128x128 is-hidden-tablet">
                        <img class="is-shadowed" src="./img/logo.svg" alt="Logo">
                    </figure>
                    <p class="align-right"> I’m Henry Desroches, an espresso-drinking, sighthound-fostering, fixed-gear-riding creative front-end developer from Denver, Colorado. I’m really into great coffee, great pizza, and great design.</p>
                    <p class="align-right">I’m passionate about cutting-edge front-end,
                        pixel perfect, beautiful user interfaces,
                    and meticulously researched UX.</p>
                </div>
            </div>
            <div class="columns">
                <div class="column is-half is-offset-half">
                    <p><a href="/resume" class="has-arrow-after">I’m currently seeking full-time, front-end employment in Denver and San Francisco.</a></p>
                    <p>I've been to some places on the internet:</p>
                </div>
            </div>
            <div class="columns">
                <div class="column is-half is-offset-half">
                    <div class="icons-list">
                            <a class="icon-link icon-github" href="https://github.com/xdesro/"></a>
                            <a class="icon-link icon-instagram" href="https://www.instagram.com/xdesro/"></a>
                            <a class="icon-link icon-gmail" href="mailto:yo@henry.codes"></a>
                            <a class="icon-link icon-stackoverflow" href="https://stackoverflow.com/users/7868234/henry-desroches"></a>
                            <a class="icon-link icon-twitter" href="https://twitter.com/xdesro"></a>
                            <a class="icon-link icon-linkedin" href="https://www.linkedin.com/in/henrydesroches"></a>
                            <a class="icon-link icon-twitch" href="http://www.xdesro.live"></a>
                    </div>
                </div>
            </div>
            <div class="columns">
                <div class="column is-half is-offset-half">
                    <p>Trying to get in touch? Rad! I'm most often available <a class="has-text-danger" href="https://twitter.com/xdesro">on Twitter</a>, or <a class="has-text-danger" href="mailto:yo@henry.codes">by email</a>. I look forward to hearing from you.</p>
                </div>
            </div>
        </div>
    </div>
</section>
{{ partial "footer" . }}
